/*
  Este archivo es para estilos globales. Aunque el proyecto utiliza Tailwind a través de un CDN,
  podemos definir aquí estilos base o clases personalizadas que no estén cubiertas.
*/

body {
  margin: 0;
  /* Asegura que la fuente definida en index.html se aplique consistentemente */
  font-family: 'Din Condensed Light', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* bg-gray-100 */
}


/* =======================================================
   ESTILOS PARA TRADUCTOR (BOTÓN PERSONALIZADO CON BANDERA)
   ======================================================= */

/* 1. Ocultar la barra superior de Google */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
body {
    top: 0px !important;
}

/* 2. ESCONDER EL WIDGET NATIVO DE GOOGLE (FUERA DE PANTALLA) */
/* Lo movemos fuera de la pantalla en lugar de display:none para que el script siga funcionando */
#google_translate_element {
    position: absolute !important;
    top: -10000px !important;
    left: -10000px !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}