/*
  Este archivo es para estilos globales. Aunque el proyecto utiliza Tailwind a través de un CDN,
  podemos definir aquí estilos base o clases personalizadas que no estén cubiertas.
*/

body {
  margin: 0;
  /* Asegura que la fuente definida en index.html se aplique consistentemente */
  font-family: 'Din Condensed Light', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* bg-gray-100 */
}



/* index.css */

/* Ocultar el logo de Google y el texto "Powered by" sin ocultar el selector */
.goog-te-gadget {
    font-size: 0 !important; /* Oculta el texto "Powered by Google" */
    color: transparent !important;
}

.goog-te-gadget div {
    display: inline-block;
}

/* El selector volverá a tener tamaño y color de fuente normal */
#google_translate_element select {
    display: block !important;
    font-size: 12px !important;
    color: #0E306F !important;
}