/*
  Este archivo es para estilos globales. Aunque el proyecto utiliza Tailwind a través de un CDN,
  podemos definir aquí estilos base o clases personalizadas que no estén cubiertas.
*/

body {
  margin: 0;
  /* Asegura que la fuente definida en index.html se aplique consistentemente */
  font-family: 'Din Condensed Light', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* bg-gray-100 */
}


/* =======================================================
   ESTILOS PARA TRADUCTOR (BOTÓN PERSONALIZADO CON BANDERA)
   ======================================================= */

/* 1. Ocultar la barra superior de Google */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
body {
    top: 0px !important;
}

/* 2. ESCONDER EL WIDGET NATIVO DE GOOGLE (FUERA DE PANTALLA) */
/* Lo movemos fuera de la pantalla en lugar de display:none para que el script siga funcionando */
#google_translate_element {
    position: absolute !important;
    top: -10000px !important;
    left: -10000px !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

/* Bloqueo global de interacción con imágenes para Mobile y Desktop */
img {
  /* Evita que aparezca el menú "Guardar imagen" en iOS y Android al dejar presionado */
  -webkit-touch-callout: none !important;
  
  /* Evita que se pueda seleccionar la imagen como si fuera texto */
  -webkit-user-select: none !important;
  user-select: none !important;

  /* Evita que la imagen sea arrastrable */
  -webkit-user-drag: none !important;
}

/* Asegura que el texto dentro del span se comporte igual que el resto */
header nav a span.notranslate {
  display: inline-block;
  white-space: nowrap !important;
}

/* El seguro para que no se baje en Desktop */
@media (min-width: 1025px) {
  header nav > div > div > a {
    white-space: nowrap !important;
    display: flex !important;
    align-items: center !important;
    height: 64px !important;
  }
}

/* --- ESTABILIZADOR PARA EVITAR EL TEMBLOR --- */
header nav > div > div > a {
  /* Estas 3 líneas eliminan micro-movimientos de renderizado */
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: none !important; /* El temblor a veces es por una transición de milisegundos */

  /* Forzamos que el contenedor de la palabra sea rígido */
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap !important;
  
  /* Evita que al ponerse en negrita (si lo hace) la palabra crezca */
  text-rendering: optimizeLegibility;
}
